[submodule "utils/abootimg"]
	path = utils/abootimg
	url = https://github.com/omicron-io/abootimg.git
[submodule "utils/sdat2img"]
	path = utils/sdat2img
	url = https://github.com/xpirt/sdat2img.git
[submodule "utils/simg2img"]
	path = utils/simg2img
	url = https://github.com/anestisb/android-simg2img.git
